/* external css: flickity.css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  column-gap: 5px;
}

#siresPage{
  border: 1px solid blue;
}
