/* universal */
/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
 
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
}
h1{
  font-size: 2rem;
  margin-top: 10px;
}
h2, h3, p, button {
  font-size: 1rem; /* Use relative font size */
}

/* Header/ Navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 1000;
  /* Adjust the z-index to ensure it's above other content */
}


.logo {
  padding-left: 20px;

}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 3vw;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin: 0;
  /* Remove default margin to prevent spacing issues */
  padding: 0;
  /* Remove default padding */
  width: 100%;
  /* Set the width to 100% to span the full width */
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  padding: 15px;
  color: #fff;
  transition: background-color 0.3s;
  font-size: 2.5vw;
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {
  background-color: #444;
  /* Change the background color on hover */
}



/* main  */
main{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;
margin-bottom: 20px;
flex-grow: 1;
margin-bottom: auto; /* Push the footer to the bottom */

}

main a{
  text-decoration: none;
}
section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.siresCards, .damsCards, .pupsCards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 50px;

}

.card p{
text-align: left;
 }

 .cardImgContainer{
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
 }

 img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 20%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
 }

 span{
  font-size: 1.5rem;
 }

 button {
  border-radius: 4px;
  border: 1px solid black;
  padding: 5px 10px; /* Adjust padding as needed */
  margin: 5px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  cursor: pointer; /* Add a pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Add transition effects */
}

/* Style button links */
button a {
  text-decoration: none;
  color: #fff; /* Set the link color */
}

/* Button hover styles */
button:hover {
  background-color: #0056b3; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}

/* Footer */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
  background-color: #333; /* Set a background color for the footer */
  color: #fff; /* Set your preferred text color */
  padding: 10px 0; /* Increase the padding to add space above and below the text */

}

/* Add margin to the footer's ul */
footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
}

/* Style footer links */
footer ul a {
  text-decoration: none;
  color: #fff; /* Set the link color */
  transition: color 0.3s; /* Add a color transition effect */
}

/* Style footer links on hover */
footer ul a:hover {
  color: #007bff; /* Change the link color on hover */
}


/* media queries */

@media only screen and (max-width: 1200px){
  .card{
    padding: 25px;
  }
  }
  
  @media only screen and (max-width: 1008px){
    .card{
      padding: 10px;
    }
    }

@media (max-width: 889px) {
  .siresCards, .damsCards, .pupsCards {
    flex-wrap: wrap;
  }
  
  .card {
  flex-basis: calc(50% - 20px); /* Adjust the percentage and margin as needed */
   padding: 10px;
 
 
  }
}

@media (max-width: 508px) {
.card-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
}
}
@media only screen and (max-width: 425px){
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .logo {
    padding: 20px;
  
  }
  .logo a{
    font-size: 5vw;
  
  }
  
  .navbar ul {
    flex-direction: column;
  }
  
  .navbar ul li a {
    font-size: 4vw;
}
h3{
  font-size: 1.5rem;
}



.missionStatement p {
  font-size: 1rem;
}
}

